*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: burlywood;
}
.img1{
    text-align: center;
    border-image-width: 100px;
    display: block;
    margin: auto;
}

.desc1{
    text-align: center;
    font-size: 17px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.img4{
    
    
    text-align: center;
    
}
.h222{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
}
nav li{
    display: inline-block;
}
nav{
  background-color: rgb(67, 67, 67);
}
nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}
nav li a:hover{
    background-color: red;
}

ul{
    
}
.dropdown-menu a{
    display: block;
    background-color: rgb(68, 68, 68);
    
}
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

#code{
    margin-left: 90px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

