*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.box {
    width: 390px;
    height: 400px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgb(255, 255, 255) 100%);
    border-radius: 10px;

    .titulo{
        position: relative;
        top: 20px;
        margin-left: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 
        0 0 10px black,
        0 0 20px black,
        0 0 40px black,
        0 0 80px black;
    }
    .Email{
        position: relative;
        top: 90px;
        text-align: center;
        

        .emailp{
            margin-right: 220px;
            position: relative;
            bottom: 10px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
            
            
            
        }
        .inputemail{
            width: 200px;
            border-radius: 10px;
            padding: 3px 3px;
            

        }
        
        
        
        .inputemail:focus{
            outline: none;
            }
    }
    .Senha{
        position: relative;
        top: 120px;
        text-align: center;

        .senhap{
        margin-right: 220px;
        position: relative;
        bottom: 10px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        
        }
        
        .inputsenha{
            width: 200px;
            border-radius: 10px;
            padding: 3px 3px;
        }


        .inputsenha:focus {
            outline: none;
       
    }
    }
    button{
        position: relative;
        top: 160px;
        margin-left: 150px;
        border-style: outset;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        height:35px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10px 10px;
        cursor: pointer;
        transition: 0.4s;


      
    }
    button:hover{
        background-color: blue;
        color: white;
    }
}



body{
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(22, 22, 22) 35%, rgb(255, 255, 255) 100%);
}
