* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #EBECEE;
    --cor-letra: #e9ecef;
    --cor-1: #003459;
    --cor-2: #00171f;
    --cor-3: #007ea7;
    --cor-hover: #00a8e8;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--cor-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 16px;
}



.header a {
    text-decoration: none;
    color: var(--cor-letra);
    font-size: 24px;
    font-family: poppins;
    margin-left: 16px;
}

.home {
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}

.container{
    color: var(--cor-letra);
    width: 80%;
    margin: 0 auto;
    background-color: var(--cor-2);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
