* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #EBECEE;
    --cor-secundaria: #0066ff;
    --cor-terciaria: #919ea8;
    --cor-hover: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--cor-secundaria);
    
}
